@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    margin: 5%;
    padding: 0;
    font-family: "VT323", monospace;
    background-color: #ebe7ff;
}

h1 {
    font-size: 8rem;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    margin: 0 auto;
}

button {
    display: block;
}

.username {
    margin: 1rem auto;
}

.videoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
}

.videoWrapper {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    border: 2px solid black;
    border-radius: 5px;
}

.videoWrapper video {
    width: 100%;
    border-bottom: 2px solid black;
}

.videoWrapper p {
    margin: 0.5rem auto;
}
